.field-block {
    width: 20px;
    height: 20px;
    border: 1px solid #666666;
}

.field-row {
    display: flex;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.active {
    background-color: red;
}